Source: lliurex-screen-mirroring
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper-compat (= 13), cmake, g++ (>=11), qt6-base-dev, qt6-declarative-dev, libedupals-base-dev, libedupals-n4d-dev
Standards-Version: 4.6.0

Package: lliurex-screen-mirroring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  Application to mirror screens
 Screen mirroring application
